---
layout: layouts/base.njk
title: Impressum
permalink: /impressum/
---
<article id="post-21" class="post-21 page type-page status-publish hentry">
  <header class="entry-header">
    <h1 class="entry-title">Impressum</h1>
  </header>
  <div class="entry-content">
    <p><strong>Verantwortlich für den Inhalt:</strong><br>
    Stephan Schielke<br>
    <a href="https://github.com/stephanschielke/oecher-singsang.de">GitHub</a></p>
    <p>Diese Webseite verfolgt keinerlei kommerzielle Interessen und dient ausschließlich dem Erhalt der Aachener Mundart.</p>
    <p>Alle Inhalte stehen unter <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/de/">(CC BY-NC-SA 3.0 DE)</a> Lizenz.</p>
  </div>
  <footer class="entry-meta"></footer>
</article>
