---
layout: layouts/base.njk
title: Über diese Internetseite
---
<article id="post-9" class="post-9 page type-page status-publish hentry">
  <header class="entry-header">
    <h1 class="entry-title">Über diese Internetseite</h1>
  </header>
  <div class="entry-content">
    <p><img loading="lazy" class="alignleft" alt="Öcher-Singsang.de" src="/assets/images/Öcher-Singsang_LOGO2-185x300.png" width="111" height="180" />Diese Webseite stellt den Versuch dar, die Aachener Mundart in das digitale Zeitalter zu führen.</p>
    <p>Bisweilen gibt es zwar tausende gedruckte Texte und jährlich dutzende Vorträge in der Euregio, aber für die nächste Generation wird es kaum einen leichten und komfortablen Zugang zum <strong>Öcher Platt</strong> mehr geben. Diese Generation wird den Großteil ihrer Informationen über das Internet und natürlich weiterhin von Person zu Person aufnehmen.</p>
    <p>Leider finden sich <em>derzeit</em> kaum Texte auf Öcher Platt im Internet, geschweige denn Texte mit einer <strong>Übersetzung in das Hochdeutsche</strong> oder einer <strong>Audioaufzeichnung</strong>. Öcher Singsang versucht nun möglichst viele Texte mit Übersetzung und <strong>Hörbeispiel</strong> zu sammeln und auf dieser Webseite zu veröffentlichen. Alle Autoren sollen hierbei mit eingebunden werden.</p>
    <p>Diese Webseite steht nicht in Konkurrenz zur offiziellen <a title="Öcher Platt e.V." href="http://oecher-platt.de/">Öcher Platt Seite</a> und verfolgt keinerlei kommerzielle Interessen. Sie dient ausschließlich dem Erhalt der Aachener Mundart.</p>
    <hr />
    <p>Allen Einsteigern in das Öcher Platt würde ich empfehlen zuerst die <a href="/category/uebersetzung/">Beiträge mit Übersetzung</a> anzusehen und anzuhören.</p>
    <p>Ich wünsche Ihnen viel Spaß und Unterhaltung auf Öcher-Singsang.de!<br />Besuchen Sie doch auch einmal den Stammtisch vom Öcher Platt e.V.!</p>
  </div>
  <footer class="entry-meta"></footer>
</article>
