<aside id="recent-posts-2" class="widget widget_recent_entries">
  <h2 class="widget-title">SCHAU DOCH MAL</h2>
  <ul>
    {% for post in collections.posts | seededShuffle(10) %}
    <li><a href="{{ post.url }}">{{ post.data.title }}</a></li>
    {% endfor %}
  </ul>
</aside>

<aside id="archives-2" class="widget widget_archive">
  <h2 class="widget-title">Archiv</h2>
  <ul>
    {% for month in collections.postsByMonth %}
    <li><a href="/archive/{{ month.date | date('%Y/%m') }}/">{{ month.date | germanMonthYear }}</a>&nbsp;({{ month.posts.length }})</li>
    {% endfor %}
  </ul>
</aside>

<aside id="text-5" class="widget widget_text">
  <h2 class="widget-title">Öcher-Platt im Netz</h2>
  <div class="textwidget">
    <a href="https://www.oecher-platt.de/">Oecher Platt e.V.</a><br>
    <a href="https://www.oecher-schaengche.de/">Öcher Schängche</a><br>
    <a href="https://www.alt-aachener-buehne.de/">Alt-Aachener Bühne</a><br>
    <a href="https://www.udo-schroll.de/Ueber-Udo-S">Udo Schroll</a><br>
    <a href="http://www.dat-es-oche.de/">Dat es Oche</a>
  </div>
</aside>
